.dark {
  .hljs {
    color: #c9d1d9;
    background: #0d1117
  }

  .hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_ {
      color: #ff7b72
  }

  .hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_ {
      color: #d2a8ff
  }

  .hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable {
      color: #79c0ff
  }

  .hljs-meta .hljs-string,.hljs-regexp,.hljs-string {
      color: #a5d6ff
  }

  .hljs-built_in,.hljs-symbol {
      color: #ffa657
  }

  .hljs-code,.hljs-comment,.hljs-formula {
      color: #8b949e
  }

  .hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag {
      color: #7ee787
  }

  .hljs-subst {
      color: #c9d1d9
  }

  .hljs-section {
      color: #1f6feb;
      font-weight: 700
  }

  .hljs-bullet {
      color: #f2cc60
  }

  .hljs-emphasis {
      color: #c9d1d9;
      font-style: italic
  }

  .hljs-strong {
      color: #c9d1d9;
      font-weight: 700
  }

  .hljs-addition {
      color: #aff5b4;
      background-color: #033a16
  }

  .hljs-deletion {
      color: #ffdcd7;
      background-color: #67060c
  }
}

:not(.dark) {
  .hljs {
    background: #fbebd4;
    color: #84613d
  }

  .hljs-comment, .hljs-quote {
      color: #a57a4c
  }

  .hljs-meta, .hljs-name, .hljs-regexp, .hljs-selector-class, .hljs-selector-id, .hljs-tag, .hljs-template-variable, .hljs-variable {
      color: #dc3958
  }

  .hljs-built_in, .hljs-deletion, .hljs-link, .hljs-literal, .hljs-number, .hljs-params, .hljs-type {
      color: #f79a32
  }

  .hljs-addition, .hljs-bullet, .hljs-string, .hljs-symbol {
      color: #889b4a
  }

  .hljs-function, .hljs-keyword, .hljs-selector-tag {
      color: #98676a
  }

  .hljs-attribute, .hljs-section, .hljs-title {
      color: #f06431
  }

  .hljs-emphasis {
      font-style: italic
  }

  .hljs-strong {
      font-weight: 700
  }
} 