:root {
  --font-family-inter: "Inter Variable", sans-serif;
  --font-family-open-sans: "Open Sans Variable", sans-serif;
  --font-family-playfair-display: "Playfair Display Variable", serif;
  --font-family-lora: "Lora Variable", serif;
  --font-family-roboto: "Roboto Variable", sans-serif;
  --font-family-fira-code: "Fira Code Variable", monospace;
  --font-family-ibm-plex-mono: "IBM Plex Mono", monospace;
  --font-family-source-code-pro: "Source Code Pro Variable", monospace;
}
