.ProseMirror {
  @apply prose dark:prose-invert prose-lg;
  @apply flex-auto;
  @apply p-16;
  @apply max-w-[100ch];

  :first-child {
    @apply mt-0 pt-0;
  }

  &:focus {
    @apply outline-none;
  }

  .collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    pointer-events: none;
    position: relative;
    word-break: normal;
  }

  .collaboration-cursor__label {
    display: none;
  }
}