@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tw-animate-css";
@import "./fonts.css";
@import "./themes/index.css";
@import "./prose.css";
@import "./code-block.css";
@import "./view-transition.css";
@import "./collaboration-cursor.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html,
  body {
    @apply bg-background text-foreground;

    &.logged-in {
      @apply fixed top-0 left-0 w-screen overflow-hidden;
    }
  }
}
